
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  form input[type="text"],
  form input[type="date"],
  form select {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin: 5px;
    width: 80%;
  }
  
  #priorityButtons {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .priorityBtn {
    margin: 0 5px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .priorityBtn:hover,
  .priorityBtn.active {
    opacity: 0.8;
  }
  
  .priorityBtn.red {
    background-color: #ff6666;
  }
  
  .priorityBtn.pink {
    background-color: #ff99cc;
  }
  
  .priorityBtn.gray {
    background-color: #d9d9d9;
    color: black;
  }
  
  form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
  }
  
  form button[type="submit"]:hover {
    opacity: 0.8;
  }
  
  ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
  }
  
  .todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .todoItem:hover {
    background-color: #f2f2f2;
  }
  
  .todoItem.started {
    background-color: #ff99cc;
  }
  
  .todoItem.completed {
    background-color: #d9d9d9;
  }
  
  .startBtn,
  .completeBtn,
  .deleteBtn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .startBtn:hover,
  .completeBtn:hover,
  .deleteBtn:hover {
    opacity: 0.8;
  }
  
  .startBtn {
    background-color: #66b3ff;
    color: white;
  }
  
  .completeBtn {
    background-color: #4CAF50;
    color: white;
  }
  
  .deleteBtn {
    background-color: #ff6666;
    color: white;
  }
  
  #showCompleted,
  #showResponsible {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 10px;
  }
  
  #showCompleted:hover,
  #showResponsible:hover {
    opacity: 0.8;
  }
  
  /* Yeni stil */
  form button[type="submit"] {
    margin-bottom: 20px;
    }
    
    #showCompleted,
    #showResponsible {
    margin-right: 10px;
    }
    
    #showResponsible {
    margin-left: auto;
    }
  
  
  
  
  
  
  